:root {
  --background-colour: #282c34;
  --text-colour: #f76303;
  --dropdown-text-colour: #ff69b4;
  --modal-text-colour: #00cc6a;
  --modal-background-colour: #ffffff;
  --disabled-colour: #d3d3d3;
  --button-hover-colour: #000000;
  --input-background-colour: rgba(76, 74, 72, 0.75);
}

body {
  margin: 0;
  background-color: var(--background-colour);
  color: var(--text-colour);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
